.wa_style_l4g316di58hs48
{
	font-size: 30px;
	color: #333333;
	line-height: 140px;
}

.wa_style_l4g316di58hqpk
{
	font-size: 20px;
	color: #333333;
	line-height: 140px;
}

.wa_style_l4g316di58htyw
{
	font-size: 14px;
	color: #333333;
	line-height: 143px;
}

.wa_style_l4ilzhvy4o13wg
{
	font-family: Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif;
	font-size: 20px;
	color: #3d3d3d;
	line-height: 143px;
}

